[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.4
[submodule "Project-DJ-Engine"]
	path = Project-DJ-Engine
	url = https://github.com/Rliop913/Project-DJ-Engine.git
	branch = main